.container-fluid {
  margin-top: 30px;
}
img {
  transition: transform 0.2s;
  margin-bottom: 10px;
  position: relative;
}
img:hover {
  transform: scale(1.5);
}
h5 {
  position: absolute;
  bottom: 20px;
  left: 100px;
}
